################################################################################################
################################################################################################
# Sample configuration file for the API, editor and tooling around it.
# Copy this and set the values you need depending on which parts of astro you
# are installing & configuring here.
################################################################################################


################################################################################################
# Shared (Editor / API / Previewer Options)
################################################################################################
# Path to where the definitions are stored.
# Used by api, tooling and build process
DEFINITIONS_PATH=

# number of seconds to cache dynamic field options, defaults to 5 minus (5 * 60) if not set in definition itself
DYNAMIC_OPTIONS_CACHE_TIME=

# URL patterns to use for viewing published pages and previewing draft pages.
# Used by the previewer and the editor.
APP_LIVE_URL_PATTERN=https://{domain}{path}
APP_PREVIEW_URL_PATTERN=https://astro.test/draft/{domain}{path}

# (private) secret to use for signing jwts
AUTH_JWT_SECRET=

# length of time that jwts are valid for
AUTH_JWT_LIFETIME=120

# Whether or not to enable SSO authentication
ENABLE_SSO=false

# The path to where simplesamlphp has been installed.
SIMPLESAML_SP_PATH=

# Message displayed to user when login through sso but they don't have the correct attribute
SSO_DENIED_MESSAGE="Access Denied"

# location of the jwt providing authorizing endpoint , 'jwttest.php' for development
AUTH_URL='/auth/jwt'
################################################################################################
# Editor Configuration
# Settings used exclusively when launching the editor.
################################################################################################
# Full URL to the Astro API (including, eg. api/v1
ASTRO_API_URL=

# Full URL that handles logging a user out
ASTRO_LOGOUT_URL=https://astro.test/auth/logout

# help pages
HELP_URL=https://yourdomain.org/help
HELP_MEDIA_URL=https://yourdomain.org/help/media

# Enable heap analytics within the editor itself
ENABLE_HEAP=false
HEAP_APP_ID=

# Enabke hotjar within the editor itself
ENABLE_HOTJAR=false
HOTJAR_ID=

# Instructions displayed on the add user screen.
ADD_USER_NOTE="Just Do It"

# Comma separated list of site ids for the sites that should be available in the clearing switcher
CLEARING_SITE_IDS=1,2,3

# Domain name that the official clearing site should run off (e.g. www.kent.ac.uk, alpha.kent.ac.uk, etc)
CLEARING_SITE_DOMAIN=beta.test

# Whether clearing we're in the clearing period or not
CLEARING_ENABLED=false

# Clearing banner message using HTML
CLEARING_BANNER_MESSAGE=''

# Clearing banner title using HTML
CLEARING_BANNER_TITLE=''

################################################################################################
# API Configuration
# Settings required only for the API itself.
################################################################################################
# Path to root of directory where images are stored.
MEDIA_PATH=

# Base url for where images are web-accessible from. Should probably include // or http(s?)
MEDIA_URL=

# disable the routes to preview draft and published versions of pages
DISABLE_PREVIEW_ROUTES=false
# disable all the web routes (launch the editor + authentication)
DISABLE_WEB_ROUTES=false
# disable the api
DISABLE_API_ROUTES=false
# Enable the routes that allow creation of arbitrary valid api tokens (APP_DEBUG must also be true)
ENABLE_JWT_DEV_ROUTES=false

################################################################################################
# Definitions / THeme Configuration
# These are settings used inside the definitions themselves.
# These may vary based on definitions used.
# The definitive list is whatever is defined inside config/definitions.php, which should
# itself be based on a sample config file within the definitions.
################################################################################################
# Base URL under which theme assets are located. Can be accessed in the Editor via Config.get('assets_base_url')
# NOTE - this is also used within the Editor.
ASSETS_BASE_URL=//kent.test

# The default placeholder image to use for missing images, RELATIVE TO ASSETS_BASE_URL
PLACEHOLDER_IMAGE_URL=/kent-theme-assets/assets/images/placeholder.jpg

# The default size suffix to use for images eg '_1920w' or '_400x400'
IMAGE_VERSION_SUFFIX=_1920w

# The default size suffix to use for video placeholder images eg '_1920w' or '_400x400'
VIDEO_VERSION_SUFFIX=_800x450

# The default size suffix to use for square images eg '_400x400'
SQUARE_VERSION_SUFFIX=_400x400

KENT_API_URL=https://api.kent.ac.uk/api

# proxy that guzzle may need to use when making requests to Kent API
PROXY_URL=tcp://advocate.kent.ac.uk:3128

# Kent LDAP
KENT_LDAP_URI=
KENT_LDAP_RDN=
KENT_LDAP_PASSWORD=

# unique hash generated each time assets are built (or deployed) which is used for cachebusting
ASSETS_CACHE_HASH=

# Guides configuration - id of the site with guides tagged with metadata
GUIDE_SITE_ID=

# Maps api - if not used then this defaults to use the kent api
MAPS_API_URL=https://nova.test/api/v2/locations

#############################################
# Cache timing configuration.               #
# How long should various things be cached  #
#############################################

#seconds to cache list of all courses
CACHE_COURSES_ALL_SECS=0
#seconds to cache individual course details
CACHE_COURSES_SINGLE_SECS=0
#seconds to cache single event details
CACHE_EVENTS_SINGLE_SECS=0
#seconds to cache list of events for
CACHE_EVENTS_ALL_SECS=0
#seconds to cache the list of collections for
CACHE_MODULES_COLLECTIONS_SECS=0
#seconds to cache the list of subjects for
CACHE_MODULES_SUBJECTS_SECS=0
#seconds to cache the index of module collections for
CACHE_MODULES_COLLECTION_INDEX_SECS=0
#seconds to cache the full individual module details for
CACHE_MODULE_SECS=0
#seconds to cache a listing of student profiles for
CACHE_STUDENT_PROFILES_ALL_SECS=0
#seconds to cache full details of a single student profile
CACHE_STUDENT_PROFILES_SINGLE_SECS=0
#seconds to cache the listing of all maps features for
CACHE_MAPS_FEATURES_SECS=0
#MINUTES to cache scholarships data for
CACHE_SCHOLARSHIPS_MINUTES=0
#Seconds to cache free rooms data for
CACHE_FREEROOMS_ALL_SECS=0
#Seconds to library occupancy data for
CACHE_LIBRARYOCCUPANCY_ALL_SECS=0

#############################################
# Courses configuration.                    #
#############################################
# site id of the site containing the ug course page renderer
UG_COURSE_PAGE_SITE_ID=

# site id of the site containing the pg course page renderer
PG_COURSE_PAGE_SITE_ID=

# site id of the site containing the ug profile renderer
UG_PROFILE_PAGE_SITE_ID=

# site id of the site containing the pg profile renderer
PG_PROFILE_PAGE_SITE_ID=

# site id of the site containing the modules renderer
MODULE_PAGE_SITE_ID=

################################################################################################
# Development related settings
################################################################################################
# Configuration for vue hot module reloading...
APP_HMR_URL=http://localhost:3000

# path under public/ where build folder containing built assets will be
# used in the webpack build process
PUBLIC_PATH=


################################################################################################
# General Laravel Configuration.
# Edit the first block, database options, redis if used and anything else as required.
################################################################################################
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

# Database settings
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

# Test database name (expects same credentials as main database)
TEST_DB_DATABASE=homestead_test

# If true, definitions will be cached in redis instead of read from disk
REDIS_ACTIVE=false
REDIS_LIB=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
