{
	"extends": "eslint:recommended",

	"parser": "babel-eslint",

	"plugins": ["html"],

	"rules": {
		"comma-dangle": ["error", "only-multiline"],
		"eqeqeq": "off",
		"curly": ["error", "all"],
		"quotes": ["error", "single"],
		"indent": ["error", "tab", {
			"SwitchCase": 1
		}],
		"block-spacing": "error",
		"dot-location": ["error", "property"],
		"key-spacing": "off",
		"func-names": "off",
		"object-shorthand": "off",
		"quote-props": "off",
		"no-console": ["error", { allow: ["warn", "error"] }],
		"space-before-blocks": "off",
		"array-bracket-spacing": ["error", "never"],
		"brace-style": ["error", "stroustrup"]
	}
}
