{
	"extends": "eslint:recommended",

	"parser": "babel-eslint",

	"plugins": ["html"],

	"rules": {
		"comma-dangle": ["error", "only-multiline"],
		"eqeqeq": ["error", "smart"],
		"curly": ["error", "all"],
		"quotes": ["error", "single", { "avoidEscape": true }],
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"block-spacing": "error",
		"dot-location": ["error", "property"],
		"key-spacing": "off",
		"func-names": "off",
		"object-shorthand": "off",
		"quote-props": "off",
		"array-bracket-spacing": ["error", "never"],
		"brace-style": ["error", "stroustrup"],
		"space-before-blocks": ["error", "always"],
		"no-whitespace-before-property": "error",
		"space-before-function-paren": ["error", {
			"anonymous": "never",
			"named": "never",
			"asyncArrow": "always"
		}],
		"no-trailing-spaces": "error"
	}
}
