.phpstorm*
_ide_helper*
/node_modules
/public/storage
/public/uploads
/storage/*.key
/storage
/uploads
/vendor
/.idea
/.tmp
Homestead.json
Homestead.yaml
.env
auth.json
studio.json
uploads
storage/public
/public/build
