.block-options {
	transition: transform .5s cubic-bezier(.19, 1, .22, 1);
	transform: translateX(100%);
	position: absolute;
	top: 0;
	left: 1px;
	background-color: #f7f9fb;
	height: calc(100vh - #{get-height(top-bar)});
	width: calc(100% - 1px);
}
.options-visible {
	transform: translateX(-1px);
}

.field-label {
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid rgba(191, 203, 217, 0.3);
}

.block-options-list {
	$height: (
		#{get-height(top-bar)} -
		#{get-height(block-back-bar)} -
		#{get-height(block-bottom-bar)}
	);

	height: calc(100vh - #{$height});
	padding: 30px 20px 80px;
	overflow: auto;
	will-change: transform; // stop repaint on scroll
}
