$validation-errors-height: (
	#{get-height(top-bar)} -
	#{get-height(block-back-bar)}
);

.validation-errors {
	list-style: none;
	overflow: auto;
	margin: 0;
	padding: 14px;
	height: calc(100vh - #{$validation-errors-height});

	.block-errors + .block-errors {
		margin-top: 14px;
	}
}

.error-list {
	list-style: none;
	padding: .5rem 1rem 0;

	&__item {
		margin-left: .2rem;

		.el-button {
			color: #f56d6d;
			text-decoration: underline;
		}
	}
}

.error-alert {
	border: 1px solid #f56c6c;
	padding: 8px;

	.el-alert__content {
		padding: 0;
	}
}
