.page-list {
	list-style: none;
	padding: 10px;
	user-select: none;
	font-size: 14px;
	width: 100%;
	margin: 0;

	$height: (
		#{get-height(top-bar)} -
		#{get-height(block-back-bar)}
	);

	height: calc(100vh - #{$height});
	overflow: auto;

	.option-button {
		padding: 6px;
		color: #8391a5;
	}

	.inner {
		background-color: #fff;
		padding: 5px;
		border: 1px solid #d7deea;
		border-radius: 4px;
		line-height: 25px;
	}

	.options {
		opacity: 0;
		display: inline-block;
		vertical-align: middle;
		margin-left: 4px;
	}

	.page-list__item:hover > div .move,
	.page-list__item:hover > div .options {
		opacity: 1;
	}

	.cog {
		width: 12px;
		display: inline-block;
		vertical-align: middle;
	}

	.page-list__children,
	.page-list__item {
		position: relative;
	}

	.page-list__children {
		list-style: none;
		padding-left: 8%;
	}

	.page-list__item {
		padding: 10px 0 0;
		cursor: default;
	}

	.page-list__item::before,
	.page-list__item::after {
		content: "";
		position: absolute;
		left: -5%;
	}

	.page-list__item::after {
		border-top: 1px solid #b7c2d4;
		top: 30px;
		width: 5%;
		height: 0;
	}

	.page-list__item::before {
		border-left: 1px solid #b7c2d4;
		height: 100%;
		width: 0;
		top: 0;
	}

	ul > .page-list__item:last-child::before {
		height: 30px;
	}

	.collapsed {
		display: none;
	}

	.chevron {
		cursor: pointer;
		background-color: #fff;
		border: 1px solid #b7c2d4;
		border-radius: 2px;
		position: absolute;
		top: 24px;
		left: calc(-5% - 7px);
		z-index: 1;
		width: 14px;
		height: 14px;

		.icon {
			display: block;
			margin: 1px;
		}
	}

}
