.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
}

.richtext-toolbar {
	background-color: #fff;
	border: 1px solid #dadde2;
	position: sticky;
	top: 0;
	transform: translateZ(0);
}

.richtext-toolbar__button {
	background-color: #fff;
	width: 40px;
	height: 40px;
	padding: 0;
	flex: 0 1 auto;
	align-self: auto;
	z-index: 1;
	border-bottom: 1px solid #dadde2;

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid transparent;
		background-color: transparent;
		padding: 0;
		width: 100%;
		height: 100%;
		transition: border .2s ease-out, background-color .2s ease-out;
	}

	button:disabled {
		fill: #71787f;
		background-color: #f7f9fb;
	}

	button:not(:disabled):hover,
	button:focus {
		outline: 0;
		background-color: #f7f9fb;
	}

	button.active {
		border-color: #03a9f4;
		background-color: #dcedff;
		color: #03a9f4;
		fill: #03a9f4;
		z-index: 2;
	}

	.richtext-toolbar__options {
		display: none;
		flex-direction: column;
		list-style: none;
		margin: 0;
		max-height: 260px;
		padding: 0;
		border: 1px solid #e5e7ec;
		text-align: left;
		overflow: auto;
		background-color: #fff;

		li {
			font-size: .8em;
			min-width: 190px;

			&:first-child button {
				padding: 14px;
			}

			&:hover {
				background-color: #f7f9fb;
			}

			& + li:before {
				content: '';
				display: block;
				width: 80%;
				margin: 0 auto;
				height: 1px;
				border-top: 1px solid #e5e7ec;
			}

			.elem {
				padding: 0;
				padding: 14px;
				display: block;
				margin: 0;
				text-align: left;
			}
		}
	}

	button:focus + .richtext-toolbar__options {
		display: inline-flex;
		z-index: 1;
	}
}

.richtext-toolbar__button + .richtext-toolbar__button {
	border-left: 1px solid #e5e7ec;
}

.richtext-content {
	min-height: 120px;
	background-color: #fff;
	border: 1px solid #dadde2;
	overflow: auto;
	padding: 0 10px;
	margin-top: -2px;
	line-height: 1.8;

	h3 {
		font-weight: 500;
		color: #05345c;
		line-height: 1.1;
		font-size: 1.05rem;
	}

	a {
		color: #005689;
	}

	&:focus {
		outline: 0;
		border-color: #e5e7ec;
	}

	// Generic table styles
	// TODO: remove once generic stylesheet exists

	table {
		color: #48576a;
		border-width: 1px;
		border-color: #dadde2;
		border-collapse: collapse;
	}
	table th {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #dadde2;
		background-color: #dadde2;
	}
	table td {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #dadde2;
		background-color: #fff;
	}
}

.scribe-table-context-menu {
	position: absolute;
	background: #fff;
	border: 1px solid #b7c2d4;
	box-shadow: -1px 2px 10px #b7c2d4;
}
.scribe-table-context-menu .scribe-table-context-menu-action {
	padding: 5px 30px;
	font-size: 13px;
	cursor: pointer;
}
.scribe-table-context-menu .scribe-table-context-menu-action:hover {
	background: #e5e7ec;
}

.richtext-toolbar__tooltip {
	position: relative;
}

.richtext-toolbar__tooltip:after {
	background: #383838;
	border-radius: 4px;
	top: 100%;
	color: #fff;
	font-size: 13px;
	left: 50%;
	opacity: 0;
	padding: 10px;
	pointer-events: none;
	position: absolute;
	transform: translate(-50%, 0);
	transition: .2s ease-out;
	transition-delay: 0;
	white-space: nowrap;
}

.richtext-toolbar__tooltip:hover:after {
	opacity: 1;
	transform: translate(-50%, 15%);
	transition-delay: 200ms;
}

.richtext-toolbar__tooltip[aria-label]:after {
	content: attr(aria-label);
}
