/**
editor-sidebar is the side-panel of the editor
it contains a panel (sidebar) for things like page listings, block details, error listings
to the right of the sidebar is another sidebar (sidebar__switcher) which contains the buttons to switch between panels
*/
.editor-sidebar {

	background-color: #f7f9fb;
	z-index: 0;
	font-size: 14px;
	max-width: 50vw;
	min-width: 398px;

	.resize-sidebar {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 8px;
		transform: translateX(-2px);
		cursor: ew-resize;
	}

	.sidebar-wrapper {
		height: 100vh;
		background-color: #f5f7fa;
	}

	/**
	sidebar is the right-hand component of the editor-sidebar
	it is mainly a wrapper for the sidebar__switcher list
	*/
	.sidebar {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		background-color: #fff;
		transition: transform .5s cubic-bezier(.19, 1, .22, 1);
		border-left: 1px solid #d7deea;
	}

	/**
	sidebar__switcher is the region specifically for the list of sidebar screen options, such as blocks, errors, pages, etc.
	*/
	.sidebar__switcher {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			line-height: 0;
		}

		.menu-icon {
			fill: #444;
		}

		a {
			color: #71787f;
			position: relative;
			transition: color .2s ease-out;
			font-size: 14px;
			display : flex;
			align-items : center;
			text-decoration: none;
			line-height: 1.8em;
			padding: 14px;

			&:hover {
				text-decoration: none;
				color: #03a9f4;
			}
		}

		.router-link-active,
		.active {
			border-left: 3px solid #03a9f4;

			color: #03a9f4;
			a {
				padding-left: 11px;
			}
		}
	}

	// the sidebar list for the pages
	.sidebar--pages {
		background-color: #e5eef7;
		border-bottom: 1px solid #e4e4e4;
		box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.05);
		.active {
			border-left: none;
			background-color: #cfeaff;
			a {
				padding-left: 14px;

			}
		}
		li a {
			height: 50px;
		}
	}

	.sidebar--deactivated {
		opacity: 0.6;
	}

	// sidebar in-page options (blocks, errors, etc)
	.sidebar--in-page {
		height: 100%;
		box-shadow: inset 0 0px 10px 1px rgba(0, 0, 0, 0.05);
		li a {
			height: 45px;
		}
	}

	.editor-component-list--is-collapsed {
		.resize-sidebar {
			transform: translateX(0);
		}
	}

	.editor-component-list--is-dragging {
		user-select: none;
	}

	.sidebar-component-wrapper {
		width: calc(100% - 45px);
		height: 100%;
		overflow: hidden;
		position: relative;

		.block-options {
			transform: translateX(0);
			height: 100vh;
		}

		.options-visible {
			transform: translateX(-1px);
		}

	}
}
