.upload-progress-wrapper {
	font-size: 13px;
	position: fixed;
	transform: translateZ(0);
	bottom: 0;
	right: 0;
	overflow: hidden;
}
.upload-progress {
	position: relative;
	font-size: 13px;
	width: 200px;
	margin: 20px;
	/* transform: translateY(140%); */
	transition: transform .3s ease-out;
	cursor: pointer;
}
.upload-progress .el-card__body {
	padding: 10px;
	text-align: center;
}
.small {
	font-size: 11px;
	text-align: left;
	margin-left: 10px;
}
.dot {
	background-color: #de5050;
	border-radius: 6px;
	color: #fff;
	display: inline-block;
	height: 6px;
	width: 6px;
}
.iconnn {
	position: absolute;
	top: 8px;
	right: 10px;
	transform: scale(-1, 1);
	fill: #888;
	cursor: pointer;
}
