$page-list-height: (
				#{get-height(top-bar)} -
	#{get-height(block-back-bar)} -
	#{get-height(block-bottom-bar)}
);
$page-list-gutter: 14px;
$page-height: 38px;

.page-list {
	list-style: none;
	padding: $page-list-gutter;
	user-select: none;
	font-size: 14px;
	width: 100%;
	margin: 0;
	height: calc(100vh - #{$page-list-height});
	overflow: auto;
}

.page-list__root > .page-list__title {
	margin-left: 8%;
}

.page-list__first > .page-list__title:hover .page-list__options,
.page-list__root > .page-list__title:hover .page-list__options,
.page-list__item > .page-list__title:hover .page-list__edit,
.page-list__item:hover > .page-list__title .page-list__options {
	opacity: .6;
}

.page-list__status {
	display: block;
	height: 12px;
	width: 12px;
	margin-top: 7px;
	margin-right: 4px;
	border-radius: 50%;
}

.page-list__status--new {
	border: 1px solid #0b63a5;
	background-color: rgba(64, 158, 255, .5);
}

.page-list__status--published {
	border: 1px solid #0a5f30;
	background-color: rgba(103, 194, 58, .5);
}

.page-list__status--draft {
	border: 1px solid #946902;
	background-color: rgba(235, 158, 5, .5);
}

.page-list__title {
	background-color: #fff;
	padding: 5px;
	border: 1px solid #d7deea;
	border-radius: 4px;
	line-height: 26px; // height - (border*2 + padding*2)
	height: $page-height;
	transition: background-color .3s ease-out;
	display: flex;
	// when the item in the menu is the current page
	&--selected {
		background-color: #e7f4ff;
		border: 1px solid #20A0FF;
	}
}

.page-list__title:hover {
	background-color: #f7f9fb;
}

.page-list__options {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	margin-left: auto;
	flex: 0 0 auto;
}

.page-list__options,
.page-list__edit {
	opacity: 0;
	transition: opacity .2s ease-out;
}

.page-list__edit {
	border: 0;
	&:hover {
		border: 0;
	}
	flex: 0 0 auto;
	margin-right: 5px;
	padding: 0 5px;
}

.page-list__item .page-list__title .page-list__options:hover,
.page-list__item .page-list__title .page-list__edit:hover,
.page-list__item__drag-handle:hover,
.page-list__item--dragging .page-list__item__drag-handle {
	opacity: 1;
}

.cog {
	width: 12px;
	display: inline-block;
	vertical-align: middle;
}

.page-list__root {
	position: relative;
}

.page-list__item {
	position: relative;
	padding-left: 8%;
	cursor: default;
}

// the page title text shown inside each page item in the list
// add an ellipsis and hide overflow if the text is too long
.page-list__text {
	flex: 1 1 auto;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.page-list__item::before,
.page-list__item::after,
.page-list__root > .page-list__title:before,
.page-list__root > .page-list__title:after {
	content: "";
	position: absolute;
	left: 3%;
}

.page-list__item::before,
.page-list__root > .page-list__title:before {
	border-left: 1px solid #b7c2d4;
	height: 100%;
	width: 0;
	top: -$page-list-gutter;
}

.page-list__item::after,
.page-list__root > .page-list__title:after {
	border-top: 1px solid #b7c2d4;
	top: $page-height / 2;
	width: 5%;
	height: 0;
}

.page-list__item--dragging::before {
	border-left: 2px dashed #b7c2d4;
}

.page-list__item--dragging::after {
	border-top: 2px dashed #b7c2d4;
}

.add-gutter {
	padding-top: $page-list-gutter;
}

.add-gutter-bottom {
	padding-bottom: $page-list-gutter;
}

.page-list__root > .page-list__title:before {
	top: $page-height / 2;
	height: $page-height;
}

.page-list__item:last-child::before {
	height: $page-list-gutter + ($page-height / 2);
}

.page-list__item--collapsed {
	display: none;
}

.page-list__item__expand {
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #b7c2d4;
	border-radius: 2px;
	position: absolute;
	top: ($page-height / 2) - 7px;
	left: calc(3% - 7px);
	z-index: 1;
	width: 14px;
	height: 14px;

	.icon {
		display: block;
		margin: 1px;
	}
}

.page-list__item--dragging .page-list__title {
	border: 2px dashed #8391a5;
}

.page-list__option-icon {
	fill: #48576a;
}

.page-list__item__drag-handle {
	fill: #48576a;
	cursor: move;
	opacity: .6;
	transition: opacity .2s ease-out;
	line-height: 22px;
	margin-right: 5px;
	margin-left: 2px;
}
