html {
	box-sizing: border-box;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.editor {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	letter-spacing: .06em;
	min-height: 100vh;

	button,
	input,
	optgroup,
	select,
	textarea {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
		letter-spacing: .06em;
	}

	padding-top: get-height(top-bar);
}

.editor-body {
	display: flex;
	flex: 1;
	height: calc(100vh - #{get-height(top-bar)});
	overflow: hidden;
}

.editor-wrapper {
	flex: 1;
	width: 100%;
	min-width: 320px; // HVGA upwards
	position: relative;
	background-color: #f7f9fb;
	display: flex;
	align-items: center;
	justify-content: center;
}

.editor-content {
	transition: width .3s ease-out, height .3s ease-out;
	max-height: calc(100vh - #{get-height(top-bar)});
}

.editor-nav,
.editor-component-list {
	position: relative;
	transition: margin .2s ease-out;
}

.editor-nav {
	order: -1;
	box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.05);
	border-right: 1px solid #b7c2d4;
}

.empty-page {
	min-height: 100vh;
	font-size: 1.8rem;
	text-align: center;
	padding: 30px 0;
}

.editor-component-list {
	box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.05);
	border-left: 1px solid #b7c2d4;
	position: relative;
	width: 380px;
}
#main_content {
	background-color: #f7f9fb;
}

.toolbar {
	background-color: #fff;
	padding: 10px;
	user-select: none;
	display: flex;
	align-items: center;

	// makes text in the the device selector dropdown appear ok
	.el-input__icon + .el-input__inner {
		padding-right: 25px;
	}
}

.page-status {
	background-color: #b7c2d4;
	color: #fff;
	font-size: .8em;
	text-align: right;
	padding: 0 10px;
	display: inline-block;
	border-radius: 4px;
	float: right;
	margin: 4px 10px 0;
	line-height: 1.8em;
}

.page-status--is-published {
	background-color: #65c38f;
}

.b-button {
	float: right;
	clear: both;
}

.b-bottom-bar {
	padding: 0 10px;
	height: 56px;
	border-top: 1px solid #dadde2;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
	align-items: center;

	.button {
		flex: 0 1 auto;
		align-self: auto;
	}
}


.fade-enter-active, .fade-leave-active {
	transition: opacity .3s ease;
}
.fade-enter, .fade-leave-active {
	opacity: 0;
}

.main-header {
	text-transform: uppercase;
	color: #71787f;
}


.manage-table__header {
	display: flex;
	align-items: center;
}

.missing-definition-warning {
	margin: 30px;
	padding: 10px;
	background-color: lighten(#d65757, 33%);
	border-radius: 5px
}

.placeholder-block {
	height: 100px;
	background-color: #b7c2d4;
}
