html {
	box-sizing: border-box;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.editor {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	letter-spacing: .06em;
	line-height: 1.8em;

	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.editor-body {
	display: flex;
	flex: 1;
}

.editor-sidebar {
	width: 250px;
	background-color: #eef1f6;
	z-index: 0;
	min-width: 210px;
	font-size: 14px;
}

.editor-wrapper {
	flex: 1;
	width: 100%;
	min-width: 320px; // HVGA upwards
	position: relative;
	background-color: #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
}

.editor-content {
	transition: width .3s ease-out, height .3s ease-out;
	max-height: calc(100vh - 56px);
	margin-bottom: 56px;
}

.editor-nav {
	order: -1;
	box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.05);
	border-right: 1px solid #bcc8dc;
}

.editor-component-list {
	box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.05);
	border-left: 1px solid #bcc8dc;
	position: relative;
	overflow: hidden;
	width: 380px;
}
#main_content {
	background-color: #ccc;
}

.b-bar {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: #fff;
	border-top: 1px solid #eee;
	padding: 10px;
	z-index: 10;
	box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
}

.b-button {
	float: right;
	clear: both;
}

#b-wrapper {
	background-color: #fff;
	transform-origin: top center;
	backface-visibility: hidden;
}

#b-overlay {
	position: fixed;
	transform: translateZ(0);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0);
	z-index: 1;
	pointer-events: none;
	cursor: move;
}

.b-editable,
.b-block {
	border: 2px solid #2196f3;
	position: absolute;
	transition: border-color .3s ease-out, opacity .3s ease-out;
	border-radius: 3px;
	pointer-events: none;
}

.b-block {
	border-width: 4px;
}

.b-block-options,
.b-block-move {
	transition: background-color .3s ease-out;
	position: absolute;
	background-color: #2196f3;
	color: #fff;
	line-height: 44px;
	height: 44px;
	width: 44px;
	font-size: 20px;
	pointer-events: auto;
	text-align: center;
}

.b-block-move {
	top: 50%;
	transform: translateY(-50%);
	left: -4px;
	cursor: move;
}

.b-block-options {
	top: -4px;
	right: -4px;
	cursor: pointer;
	font-size: 25px;
}

.b-block-move {
	transition: background-color .3s ease-out;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -4px;
	background-color: #2196f3;
	color: #fff;
	line-height: 44px;
	height: 44px;
	width: 44px;
	font-size: 20px;
	pointer-events: auto;
	cursor: move;
	text-align: center;
}

.hide-drag .b-block-options,
.hide-drag .b-block-move {
	opacity: 0;
}

// .b-editable:after {
// 	transition: background-color .3s ease-out;
// 	content: '⚙';
// 	position: absolute;
// 	top: -1px;
// 	right: -1px;
// 	background-color: #2196f3;
// 	color: #fff;
// 	line-height: 22px;
// 	height: 22px;
// 	width: 22px;
// 	pointer-events: auto;
// 	cursor: pointer;
// 	text-align: center;
// 	z-index: 1;
// }

.b-editable:hover {
	border-color: #1b73b9;
}

.b-editable:before:hover {
	background-color: #1b73b9;
	color: #fff;
}

.b-block-container {
	position: relative;
	will-change: transform;
}

.block {
	background-color: #fff;
	border: 1px solid #eee;
	border-left-width: 0;
	border-right-width: 0;
	will-change: transform, box-shadow;
}

.b-handle {
	position: absolute;
	top: 0;
	transform: translateY(0);
	left: 0;
	background-color: #2196f3;
	color: #fff;
	line-height: 44px;
	height: 44px;
	width: 44px;
	font-size: 20px;
	pointer-events: none;
	user-select: none;
	text-align: center;
	opacity: 0;
}

.b-back-button {
	padding: 0 16px;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #d1dbe5;
	background-color: #fff;
	cursor: pointer;

	i {
		margin-right: 10px;
	}
}