// .custom-scrollbar::-webkit-scrollbar {
// 	height: 18px;
// 	width: 18px;
// }

// .custom-scrollbar::-webkit-scrollbar:disabled {
// 	display: none;
// }

// .custom-scrollbar::-webkit-scrollbar-button {
// 	// background-color: #fff;
// 	// background-repeat: no-repeat;
// 	// cursor: pointer;
// }

// .custom-scrollbar::-webkit-scrollbar-button:horizontal:increment,
// .custom-scrollbar::-webkit-scrollbar-button:horizontal:decrement,
// .custom-scrollbar::-webkit-scrollbar-button:horizontal:increment:hover,
// .custom-scrollbar::-webkit-scrollbar-button:horizontal:decrement:hover,
// .custom-scrollbar::-webkit-scrollbar-button:vertical:increment,
// .custom-scrollbar::-webkit-scrollbar-button:vertical:decrement,
// .custom-scrollbar::-webkit-scrollbar-button:vertical:increment:hover,
// .custom-scrollbar::-webkit-scrollbar-button:vertical:decrement:hover {
// 	background-position: center;
// 	height: 18px;
// 	width: 18px;
// }

// .custom-scrollbar::-webkit-scrollbar-track {
// 	background-color: #fff;
// }
// .custom-scrollbar::-webkit-scrollbar-thumb {
// 	border-radius: 9px;
// 	border: solid 6px #fff;
// 	background-color: #c8c8c8;
// }

// .custom-scrollbar::-webkit-scrollbar-thumb:vertical {
// 	min-height:50px;
// }

// .custom-scrollbar::-webkit-scrollbar-thumb:horizontal {
// 	min-width:50px;
// }

// .custom-scrollbar::-webkit-scrollbar-thumb:hover {
// 	border-radius: 9px;
// 	border: solid 6px #fff;
// 	background-color: #98A3A6;
// }

// .custom-scrollbar::-webkit-scrollbar-corner {
// 	background-color: #fff;
// }

.redactor-toolbar li a:hover,
.redactor-dropdown li:hover {
    background-color: #2196f3;
}

.el-tabs__header {
	margin: 0;
}

.el-dropdown-menu {
	font-size: 14px;
}

.editor-nav {
	.el-tabs__item {
		width: 50%;
		text-align: center;
		background-color: #fff;
		margin-bottom: 0;
	}
}

.el-dragger__cover img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 90%;
	position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}