/* --- start scrollbar --- */

// .custom-scrollbar::-webkit-scrollbar {
// 	height: 18px;
// 	width: 18px;
// }

// .custom-scrollbar::-webkit-scrollbar:disabled {
// 	display: none;
// }

// .custom-scrollbar::-webkit-scrollbar-button {
// 	background-color: #f00;
// 	background-repeat: no-repeat;
// 	cursor: pointer;
// }

// .custom-scrollbar::-webkit-scrollbar-button:horizontal:increment,
// .custom-scrollbar::-webkit-scrollbar-button:horizontal:decrement,
// .custom-scrollbar::-webkit-scrollbar-button:horizontal:increment:hover,
// .custom-scrollbar::-webkit-scrollbar-button:horizontal:decrement:hover,
// .custom-scrollbar::-webkit-scrollbar-button:vertical:increment,
// .custom-scrollbar::-webkit-scrollbar-button:vertical:decrement,
// .custom-scrollbar::-webkit-scrollbar-button:vertical:increment:hover,
// .custom-scrollbar::-webkit-scrollbar-button:vertical:decrement:hover {
// 	background-position: center;
// 	height: 18px;
// 	width: 18px;
// }

// .custom-scrollbar::-webkit-scrollbar-track {
// 	background-color: #fff;
// }
// .custom-scrollbar::-webkit-scrollbar-thumb {
// 	border-radius: 9px;
// 	border: solid 6px #fff;
// 	background-color: #c8c8c8;
// }

// .custom-scrollbar::-webkit-scrollbar-thumb:vertical {
// 	min-height: 50px;
// }

// .custom-scrollbar::-webkit-scrollbar-thumb:horizontal {
// 	min-width: 50px;
// }

// .custom-scrollbar::-webkit-scrollbar-thumb:hover {
// 	border-radius: 9px;
// 	border: solid 6px #fff;
// 	background-color: #98A3A6;
// }

// .custom-scrollbar::-webkit-scrollbar-corner {
// 	background-color: #fff;
// }

/* --- end scrollbar --- */

.redactor-toolbar li a:hover,
.redactor-dropdown li:hover {
    background-color: #2196f3;
}

.el-tabs__header {
	margin: 0;
}

.el-dropdown-menu {
	font-size: 14px;
}

.editor-nav {
	.el-tabs__nav {
		float: none;
	}
	.el-tabs__nav-wrap {
		margin-bottom: 0;
	}
	.el-tabs__item {
		width: 50%;
		text-align: center;
		background-color: #fff;
	}
}

.el-upload-dragger {
	width: 100%;
}

.v-modal {
	background: #fff;
	opacity: .7;
}
.el-dialog,
.el-message-box {
	border: 1px solid #dce3ea;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 10px;
}


.el-table td,
.el-table th {
	line-height: 50px;
	height: auto;
}

.el-table th > .cell,
.el-table .cell {
	line-height: inherit;
}

.el-table th {
	background-color: #f0f6f9;
}
.el-table__fixed-header-wrapper thead div,
.el-table__header-wrapper thead div {
	background-color: #f0f6f9;
}

.el-table--striped .el-table__body tr:nth-child(2n) td {
	background-color: #f7fafc;
}

.el-dialog {
	border-radius: 4px;
}