.left-side {
	width: 250px;
	border-right: 1px solid #E3F2FD;
}

.admin-wrapper {
	display: flex;
}

.router-wrapper {
	padding: 30px;
	flex: 1 1 auto;
	min-width: 350px;
	background-color: #f7f9fb;
	min-height: calc(100vh - 60px);
}
