.left-side {
	width: 250px;
	border-right: 1px solid #E3F2FD;
}

.app-sidebar {
	padding: 0;
	margin: 0;

	li {
		line-height: 0;
	}

	.menu-icon {
		margin-right: 12px;
		fill: #444;
	}

	a {
		color: #71787f;
		position: relative;
		transition: color .2s ease-out;
		font-size: 14px;
		padding: 14px 20px;
		display : flex;
		align-items : center;
		text-decoration: none;
		line-height: 1.8em;

		&:hover {
			text-decoration: none;
			color: #03a9f4;
		}
	}

	.router-link-active,
	.active {
		border-right: 3px solid #03a9f4;
		background-color: #f7f9fb;
		color: #03a9f4;
	}
}

.admin-wrapper {
	display: flex;
}

.router-wrapper {
	padding: 30px;
	flex: 1 1 auto;
	min-width: 350px;
	background-color: #f7f9fb;
	min-height: calc(100vh - 60px);
}
