.top-bar {
	border-bottom: 1px solid #dadde2;
	background-color: white;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.05);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	height: get-height(top-bar);
}
.top-bar--homepage {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.top-bar__tools {
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
}

.top-bar__navigation {
    display:flex;
    min-width: 0;
}

.top-bar__page-title {
	// float: left;
	// display: inline-block;
	vertical-align: middle;
	padding-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	.el-tag {
		height: 18px;
		line-height: 16px;
		font-size: 10px;
		margin-left: 5px;
	}
}
.top-bar__url {
	font-size: 11px;
	color: #71787f;
	.el-tag {
		height: 18px;
		line-height: 16px;
	}
}

.top-bar__url  * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-bar__title {
	font-size: 14px;
	padding: 1rem 0 0 0;
}

.top-bar-backbutton {
	// float: left;
	// display: inline-block;
	vertical-align: middle;
	line-height: get-height(top-bar);
	color: #71787f;
	font-size: 13px;
	cursor: pointer;
    white-space: nowrap;
}
.backbutton-icon {
	margin-right: 6px;
}

.site-pick {
	fill: #444;
	color: #71787f;
	cursor: pointer;
	line-height: 17px;
	font-size: 14px;
	padding: 0;

	.icon {
		margin-bottom: 4px;
		margin-right: 8px;
	}
}
.site-picker {
	font-size: 14px;
	list-style: none;
	padding: 0;
	margin: 0;

	a {
		text-decoration: none;
		color: #71787f;

		&:hover {
			color: #03a9f4;
		}
	}
}

.site-picker li {
	padding: 10px;
}

.user-account-button {
	cursor: pointer;
	fill: #71787f;
	color: #71787f;
	font-size: 14px;
}

.user-account-dropdown {
	padding: 0;
	font-size: 14px;

	&__item {
		padding: 15px;

		&--divided {
			border-top: 1px solid #e0e0e0;
			color: #b4b4b5;
		}

		&--clickable {
			cursor: pointer;
		}
	}
}

.top-bar .el-dropdown-link {
	cursor: pointer;
	line-height: 35px;
	display: inline-block;
}

.top-bar .el-icon-caret-bottom {
	margin-left: 10px;
	font-size: 10px;
}

.top-title {
	text-align: center;
	line-height: 35px;
}
