.top-bar {
	height: get-height(top-bar);
	border-bottom: 1px solid #dce3ea;
	background-color: white;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.05);
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 7px 20px 7px 7px;
}
.top-bar-backbutton {
	float: left;
	line-height: 35px;
	color: #666;
	font-size: 13px;
	cursor: pointer
}
.backbutton-icon {
	margin-right: 10px;
}
.user-menu-button {
	float: right;
}

.top-bar .el-dropdown-link {
	cursor: pointer;
	line-height: 35px;
	display: inline-block;
}

.top-bar .el-icon-caret-bottom {
	margin-left: 10px;
	font-size: 10px;
}

.top-title {
	text-align: center;
	line-height: 35px;
}
