.top-bar {
	border-bottom: 1px solid #dadde2;
	background-color: white;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.05);
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	height: get-height(top-bar);
}
.top-bar--homepage {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.top-bar__tools {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.top-bar-backbutton {
	float: left;
	line-height: 35px;
	color: #71787f;
	font-size: 13px;
	cursor: pointer
}
.backbutton-icon {
	margin-right: 10px;
}
.user-menu-button {
}

.top-bar .el-dropdown-link {
	cursor: pointer;
	line-height: 35px;
	display: inline-block;
}

.top-bar .el-icon-caret-bottom {
	margin-left: 10px;
	font-size: 10px;
}

.top-title {
	text-align: center;
	line-height: 35px;
}
