#b-wrapper {
	background-color: #fff;
	transform-origin: top center;
	backface-visibility: hidden;
	outline: 2px solid #dadde2;
}

#b-overlay {
	position: fixed;
	transform: translateZ(0);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0);
	z-index: 1;
	pointer-events: none;
	cursor: move;
}

.b-editable,
.block-overlay {
	border: 2px solid #03a9f4;
	position: absolute;
	transition: border-color .3s ease-out, opacity .3s ease-out;
	border-radius: 0;
	pointer-events: none;
}

.block-overlay {
	top: 0;
	opacity: 1;
	border-width: 4px;
	border-style: dashed;
	max-width: 100%;
}

.block-overlay--selected {
	border-width: 4px;
	border-style: solid;
}

.block-overlay--hidden {
	transition: none;
	opacity: 0;
	max-height: 0;
	transform: none;
}

.block-overlay__options,
.block-overlay__move {
	transition: background-color .3s ease-out;
	background-color: #03a9f4;
	color: #fff;
	line-height: 44px;
	height: 44px;
	width: 44px;
	font-size: 20px;
	pointer-events: auto;
	text-align: center;
	fill: #fff;
}

.block-overlay__move {
	top: 50%;
	transform: translateY(-50%);
	left: -4px;
	cursor: move;
	border-radius: 0 4px 4px 0;
}

.block-overlay__options {
	top: -4px;
	right: -4px;
	border-radius: 0 0 0 4px;
	pointer-events: none;
}

.block-overlay__buttons {
	position: absolute;
	top: 15px;
	left: 15px;
}

.move-up,
.move-down,
.block-overlay__delete-button {
	pointer-events: auto;
}

.block-overlay__delete--sidebar {
	bottom: 0;
	right: 0;
}

.block-overlay__move {
	transition: background-color .3s ease-out;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -4px;
	background-color: #03a9f4;
	color: #fff;
	line-height: 44px;
	height: 44px;
	width: 44px;
	font-size: 20px;
	pointer-events: auto;
	cursor: move;
	text-align: center;
}

.hide-drag {
	.block-overlay__options,
	.block-overlay__delete,
	.block-overlay__move,
	.add-before,
	.add-after {
		opacity: 0;
	}
}

.b-block-container {
	position: relative;
	will-change: transform;
	min-height: 60px;
	padding: 2px 0;
}

.block {
	background-color: #fff;
	//border: 1px solid #e5e7ec;
	border-left-width: 0;
	border-right-width: 0;
	will-change: transform, box-shadow;

	&__hidden {
		padding: 1em;
		border: 1px dashed #888;
		opacity: 0.7;

		.text {
			padding-top: 2em;
		}

		h2.text__title {
			margin-top: 0;
		}

	}

	&__hidden-message {
		background: #eaeaea;
		position: absolute;
		right: 19px;
		top: 14px;
		padding: 0.4em 1.3em 0.4em 2.8em;
		background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 20 20'%3E%3Ctitle%3Eeye-crossed%3C/title%3E%3Cpath d='M19.872 10.166c-0.047-0.053-1.182-1.305-2.956-2.572-0.6-0.429-1.202-0.807-1.801-1.134l1.725-1.592c0.203-0.187 0.216-0.504 0.028-0.707s-0.504-0.216-0.707-0.028l-2.003 1.849c-0.124-0.056-0.248-0.11-0.372-0.162-1.305-0.544-2.579-0.82-3.786-0.82s-2.481 0.276-3.786 0.82c-1.030 0.429-2.083 1.026-3.13 1.773-1.774 1.267-2.909 2.52-2.956 2.572-0.171 0.19-0.171 0.479 0 0.669 0.047 0.053 1.182 1.305 2.956 2.572 0.6 0.429 1.202 0.807 1.801 1.134l-1.725 1.592c-0.203 0.187-0.216 0.504-0.028 0.707 0.099 0.107 0.233 0.161 0.368 0.161 0.121 0 0.243-0.044 0.339-0.133l2.003-1.849c0.124 0.056 0.248 0.11 0.372 0.162 1.305 0.544 2.579 0.82 3.786 0.82s2.481-0.276 3.786-0.82c1.030-0.429 2.083-1.026 3.13-1.773 1.774-1.267 2.909-2.52 2.956-2.572 0.171-0.19 0.171-0.479 0-0.669zM14 9.5c0 2.206-1.794 4-4 4-0.711 0-1.378-0.187-1.957-0.513l5.592-5.162c0.238 0.517 0.366 1.086 0.366 1.674zM12.574 6.438c0.191 0.161 0.364 0.337 0.52 0.525l-5.867 5.416c-0.756-0.728-1.227-1.75-1.227-2.88 0-1.188 0.519-2.298 1.426-3.062 0.822-0.268 1.691-0.438 2.574-0.438s1.752 0.17 2.574 0.438zM3.683 12.606c-1.157-0.824-2.042-1.658-2.489-2.106 0.447-0.448 1.332-1.281 2.489-2.106 0.53-0.378 1.156-0.78 1.85-1.145-0.347 0.688-0.533 1.455-0.533 2.251 0 1.391 0.571 2.651 1.491 3.558l-0.825 0.762c-0.747-0.383-1.419-0.813-1.983-1.214zM16.317 12.606c-1.533 1.092-3.873 2.394-6.317 2.394-1.166 0-2.309-0.297-3.352-0.726l0.63-0.582c0.784 0.51 1.718 0.808 2.721 0.808 2.757 0 5-2.243 5-5 0-0.796-0.186-1.563-0.533-2.251 0.694 0.365 1.32 0.768 1.85 1.145 1.157 0.824 2.042 1.658 2.489 2.106-0.447 0.448-1.332 1.281-2.489 2.106z'%3E%3C/path%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: 1em;
		border-radius: 4px;
		font-size: 0.75em;
		z-index: 1;
		width: 135px;
	}
}

.b-handle {
	position: absolute;
	top: 0;
	transform: translateY(0);
	left: 0;
	background-color: #03a9f4;
	color: #fff;
	line-height: 44px;
	height: 44px;
	width: 44px;
	font-size: 20px;
	pointer-events: none;
	user-select: none;
	text-align: center;
	opacity: 0;
}

.move-up,
.move-down {

	&.is-disabled {
		fill: #bfcbd9;
	}
}

.add-before,
.add-after {
	border-radius: 50%;
	width: 32px;
	height: 32px;
	background-color: #fff;
	border: 3px solid #04a9f4;
	position: absolute;
	left: 50%;
	pointer-events: auto;
	transition: .3s all ease-in-out;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		cursor: pointer;
	}

	svg {
		transform: scale(1);
		fill: #04a9f4;
		stroke: #04a9f4;
		stroke-width: 1px;
	}
}

.add-before {
	top: 0;
	transform: translate(-50%, -50%);

	&:hover {
		transform: translate(-50%, -50%) scale(1.1);
		svg {
			transform: scale(1);
		}
	}
}

.add-after {
	bottom: 0;
	transform: translate(-50%, 50%);

	&:hover {
		transform: translate(-50%, 50%) scale(1.1);
	}
}
