#b-wrapper {
	background-color: #fff;
	transform-origin: top center;
	backface-visibility: hidden;
	outline: 2px solid #dadde2;
}

#b-overlay {
	position: fixed;
	transform: translateZ(0);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0);
	z-index: 1;
	pointer-events: none;
	cursor: move;
}

.b-editable,
.block-overlay {
	border: 2px solid #03a9f4;
	position: absolute;
	transition: border-color .3s ease-out, opacity .3s ease-out;
	border-radius: 0;
	pointer-events: none;
}

.block-overlay {
	top: 0;
	opacity: 1;
	border-width: 4px;
	max-width: 100%;
}

.block-overlay--hidden {
	transition: none;
	opacity: 0;
	max-height: 0;
	transform: none;
}

.block-overlay__options,
.block-overlay__move {
	transition: background-color .3s ease-out;
	background-color: #03a9f4;
	color: #fff;
	line-height: 44px;
	height: 44px;
	width: 44px;
	font-size: 20px;
	pointer-events: auto;
	text-align: center;
	fill: #fff;
}

.block-overlay__move {
	top: 50%;
	transform: translateY(-50%);
	left: -4px;
	cursor: move;
	border-radius: 0 4px 4px 0;
}

.block-overlay__options {
	top: -4px;
	right: -4px;
	border-radius: 0 0 0 4px;
	pointer-events: none;
}

.block-overlay__buttons {
	position: absolute;
	top: 15px;
	right: 15px;
}

.move-up,
.move-down,
.block-overlay__delete-button {
	pointer-events: auto;
}

.block-overlay__delete--sidebar {
	bottom: 0;
	right: 0;
}

.block-overlay__move {
	transition: background-color .3s ease-out;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -4px;
	background-color: #03a9f4;
	color: #fff;
	line-height: 44px;
	height: 44px;
	width: 44px;
	font-size: 20px;
	pointer-events: auto;
	cursor: move;
	text-align: center;
}

.hide-drag {
	.block-overlay__options,
	.block-overlay__delete,
	.block-overlay__move,
	.add-before,
	.add-after {
		opacity: 0;
	}
}

.b-block-container {
	position: relative;
	will-change: transform;
}

.block {
	background-color: #fff;
	//border: 1px solid #e5e7ec;
	border-left-width: 0;
	border-right-width: 0;
	will-change: transform, box-shadow;
}

.b-handle {
	position: absolute;
	top: 0;
	transform: translateY(0);
	left: 0;
	background-color: #03a9f4;
	color: #fff;
	line-height: 44px;
	height: 44px;
	width: 44px;
	font-size: 20px;
	pointer-events: none;
	user-select: none;
	text-align: center;
	opacity: 0;
}

.move-up,
.move-down {

	&.is-disabled {
		fill: #bfcbd9;
	}
}

.add-before,
.add-after {
	border-radius: 50%;
	width: 32px;
	height: 32px;
	background-color: #fff;
	border: 3px solid #04a9f4;
	position: absolute;
	left: 50%;
	pointer-events: auto;
	transition: .3s all ease-in-out;
	text-align: center;

	&:hover {
		cursor: pointer;
	}

	svg {
		transform: scale(1);
		fill: #04a9f4;
		stroke: #04a9f4;
		stroke-width: 1px;
	}
}

.add-before {
	top: 0;
	transform: translate(-50%, -50%) translateY(-2px);

	&:hover {
		transform: translate(-50%, -50%) translateY(-2px) scale(1.1);
		svg {
			transform: scale(1);
		}
	}
}

.add-after {
	bottom: 0;
	transform: translate(-50%, 50%) translateY(2px);

	&:hover {
		transform: translate(-50%, 50%) translateY(2px) scale(1.1);
	}
}
